# DApp
zkPoL-Strategies/zkSNARK-DApp/node_modules
zkPoL-Strategies/zkSNARK-DApp/package-lock.json

zkPoL-Strategies/zkSNARK-DApp/Contracts/*

zkPoL-Strategies/zkSNARK-DApp/PoT-Ceremonies/Ceremony_13
zkPoL-Strategies/zkSNARK-DApp/PoT-Ceremonies/Ceremony_14
zkPoL-Strategies/zkSNARK-DApp/PoT-Ceremonies/Ceremony_15